template(name='home')
    if subs_ready 
        if currentUser
            +user_dashboard
        else 
            +landing_page
    else 
        .ui.basic.center.aligned.segment 
            i.massive.loading.coins.icon
    
template(name='landing_page')
    // img.ui.fluid.image.checkin_banner(src="{{c.url 'footer_logo' width=1000 height=1000 crop='crop'}}")
    .ui.stackable.centered.grid
        .six.wide.column
            .ui.basic.segment
                .ui.yellow_header.header Change Your Coins to Cash!
                .spacer
                .ui.inline.header Do you need cash? Do you have coins just sitting around? 
                .spacer
                .ui.inline.header Here’s an easy way to turn your coins into cash!
                .spacer
                .ui.header.home_font
                    span(style="color:#004081;") Coin Box for Cash is a safe, 
                    span(style="color:#0097c7;") reliable and secure 
                    span(style="color:#004081;") coin counting service.

                a.ui.rounded.fly_right.shadowed.learn_more(href="/about")
                    |Learn More
                a.ui.test_button.fly_right.shadowed(href="/login")
                    |Login or Register
            // video.rounded.shadowed(width="100%" controls autoplay)
            video.rounded.shadowed(width="100%" controls)
                source(src="https://res.cloudinary.com/facet/video/upload/v1649476932/CB4C-Animation-Video-1_kch3jg.mp4" type="video/mp4")
    
                
        .six.wide.column
            .ui.hidden.divider
            +add_user_segment
        .sixteen.wide.column
            +how_it_works
            +why_choose_us
            +testimonials_widget
            
            
template(name='add_user_segment')
    .ui.test.segment
        .ui.inverted.large.form
            .two.fields
                .field
                    label First Name
                    .ui.icon.input 
                        i.user.icon
                        input.first_name(type='text')
                .field
                    label Last Name
                    .ui.icon.input 
                        i.user.icon
                        input.last_name(type='text')
                
            .field
                label Email
                    span.ui.red.big.text *
                .ui.icon.input 
                    i.message.icon
                    input(type='text')
            .field 
                label Phone Number
                .ui.icon.input 
                    i.phone.icon
                    input(type='text' placeholder='Phone Number')
            .two.fields
                .field 
                    label Street Address
                    .ui.icon.input 
                        i.marker.icon
                        input(type='text')
                .field 
                    label Suite/Apt #
                    .ui.icon.input 
                        i.marker.icon
                        input(type='number')
            .field 
                label 
                    i.user.grey.icon
                    |Username
                .ui.icon.input 
                    i.user.icon
                    input.username(type='text')
            // .field 
            //     label 
            //         i.lock.grey.icon
            //         |Password
            //     .ui.icon.input 
            //         i.lock.icon
            //         input.password(type='password')
            .ui.small.inverted.header 
                i.money.icon
                |Payment Information
            .ui.small.inverted.header Preferred Payment Received Method (Select One)
            .ui.divided.grid 
                .two.column.row
                    .column
                        .ui.small.yellow.header 
                            |Mobile Payment Services
                        +home_payment_button icon='apple-pay' label='Apple Pay'
                        +home_payment_button icon='paypal' label='Paypal'
                        +home_payment_button label='Venmo'
                        +home_payment_button icon='cash-app' label='Cash App'
                    .column
                        .ui.small.yellow.header 
                            |Mailed Payment Services
                        +home_payment_button icon='check-book' label='Company Check'
                        
            .ui.center.aligned.basic.segment
                .ui.massive.yellow.rounded.center.aligned.button.sign_up
                    |Get Cash Now


template(name='home_payment_button')
    .ui.basic.compact.button.select_payment(class=paybutton_class)
        if icon
            +i name=icon
        else 
            img.ui.avatar.image(src="https://cdn1.venmo.com/marketing/images/branding/venmo-icon.svg")
        |#{label}
            
            
template(name='how_it_works')
    .ui.dividing.center.aligned.header 
        |How it Works
    .ui.massive.center.aligned.blue.header 
        |Find out what works, and do more of that
    .ui.stackable.middle.aligned.grid
        .three.column.row
            .center.aligned.column
                img(src="https://asimbalochtech.com/tundaasega/wp-content/uploads/2022/03/Step1HomePage-Copy.png")
                .ui.big.header Step 1
                |Log In or Register and request your free coin mailer!
            .center.aligned.column
                img(src="https://asimbalochtech.com/tundaasega/wp-content/uploads/2022/03/Step2HomePage.png")
                .ui.big.header Step 2
                |Place and seal your coins in the return mailer and send it to us free of charge!
            .center.aligned.column
                img(src="https://asimbalochtech.com/tundaasega/wp-content/uploads/2022/03/Step3HomePage.png")
                .ui.big.header Step 3
                |We will pay you the value of your coins
    .ui.center.aligned.basic.segment 
        .ui.big.yellow.rounded.button
            |How to Package
            
            
template(name='why_choose_us')            
    .ui.center.aligned.dividing.header
        |Why Choose Us
    .ui.center.aligned.massive.blue.header
        |Find out why you chose us
    .ui.padded.stackable.grid 
        .two.column.row
            .column
                .ui.grid
                    .four.wide.column
                        .image
                            img.ui.image(src="{{c.url '/coinbox/easy'}}")
                    .twelve.wide.column
                        .ui.header 
                            |Easy
                        |No heavy lifting! No hauling jars, bags or bulky containers of coins ever again.
                .ui.grid
                    .four.wide.column
                        // .image
                        img.ui.image(src="{{c.url '/coinbox/private'}}")
                    .twelve.wide.column
                        .ui.header 
                            |Private
                        |No loud, noisy machines involved. No standing in long lines or need to carry money outside the comfort of your home.
            .column
                .ui.grid
                    .four.wide.column
                        // .image
                        img.ui.image(src="{{c.url '/coinbox/convenient'}}")
                    .twelve.wide.column
                        .ui.header
                            |Convenient
                        |24 hour, 7 day a week service and customer support. Order and schedule your shipment any time!
                .ui.grid
                    .four.wide.column
                        // .image
                        img.ui.image(src="{{c.url '/coinbox/secure'}}")
                    .twelve.wide.column
                        .ui.header
                            |Secure
                        |Our secure sealed mailer includes a unique tracking and transaction system. Coin Box provides a safe, accurate and protected transport for your coins. Plus all transactions are insured for up to $500 with our CoinBox4Cash Guarantee!



                
                        
template(name='user_dashboard')
    .ui.stackable.padded.divided.grid
        .four.column.row
            .column.mobile.hidden
                +menu
            .column
                .ui.header 
                    +i name='dashboard'
                    |dashboard
                .ui.header 
                    |transfers
                +user_transfers
            .column
                +global_activity
                +user_invoices
            .column
                +user_posts
            .column
                +user_bank
            .column
                +user_social
            .column 
                +public_chat
            .column
                +leaderboard
        
template(name='menu')       
    .ui.vertical.fluid.small.menu
        a.icon.item.zoomer.fly_right(href="/chat")
            // i.large.inbox.icon
            +i name='chat'
            span chat 
        // a.zoomer.item.fly_right(href="/tasks" class="{{isActiveRoute 'tasks'}}" title='tasks')
        //     // i.large.users.icon
        //     +i name='task'
        //     span tasks 
        a.zoomer.item.fly_right(href="/products" class="{{isActiveRoute 'products'}}" title='products')
            // i.large.users.icon
            +i name='shop'
            span products 
        a.icon.item.zoomer.fly_right(href="/transfers" class="{{isActiveRoute 'transfers'}}" title='transfers')
            // i.large.users.icon
            +i name='exchange'
            span transfers 
        a.icon.item.zoomer.fly_right(href="/orders" class="{{isActiveRoute 'orders'}}" title='orders')
            // i.large.users.icon
            +i name='order-history'
            span orders 
        a.zoomer.item.fly_right(href="/posts" class="{{isActiveRoute 'posts'}}" title='posts')
            // i.large.users.icon
            +i name='blog'
            span posts 
        a.zoomer.item.fly_right(href="/groups" class="{{isActiveRoute 'groups'}}" title='groups')
            // i.large.fire.icon
            +i name='campfire'
            span groups
        a.zoomer.item.fly_right(href="/requests" class="{{isActiveRoute 'requests'}}" title='requests')
            // i.large.fire.icon
            +i name='hand-holding-heart'
            span requests
        a.zoomer.item.fly_right(href="/services" class="{{isActiveRoute 'services'}}" title='services')
            // i.large.fire.icon
            +i name='wrench'
            span services
        a.zoomer.item.fly_right(href="/buildings" class="{{isActiveRoute 'buildings'}}" title='buildings')
            // i.large.exchange.icon
            +i name='apartment'
            span buildings
        a.zoomer.item.fly_right(href="/rentals" class="{{isActiveRoute 'rentals'}}" title='rentals')
            // i.large.exchange.icon
            +i name='clock'
            span rentals
        a.zoomer.item.fly_right(href="/units" class="{{isActiveRoute 'units'}}" title='units')
            // i.large.exchange.icon
            +i name='room'
            span units
        
        
        
template(name='global_activity')        
    .ui.header 
        +i name='clock'
        |#{latest_log_docs.count} latest activity
    .ui.link.selection.animated.divided.list.smallscroll
        each latest_log_docs
            +home_doc_item


template(name='home_doc_item')
    a.ui.item.fly_right(href="/log/#{_id}")
        // if youtube_id
        //     +youtube_view key='youtube_id'
        // else if image_id
        //     // .image
        //     img.ui.rounded.inline.image(src="{{c.url image_id gravity='face' crop='fill'}}")
        .content
            .header 
                |#{title}
            .description 
                !{body}
                |#{when}
                if is model 'post'
                    +i name='blog'
                else if is model 'product'
                    +i name='shop'
                else if is model 'event'
                    +i name='calendar'
                else 
                    .ui.label #{model}
                a(href="user/#{_author_username}")
                    if _author.image_id
                        img.ui.avatar.image(src="{{c.url _author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    else 
                        i.user.icon
                    |#{_author_username}
        
template(name='user_invoices')
    .ui.header 
        +i name='money'
        |invoices
        
template(name='public_chat')          
    a.ui.header.fly_right.zoomer(href="/chat")
        +i name='chat'
        |public chat
    .ui.input
        input.add_public_chat(type='text' placeholder='add message...')
    .ui.list
        each latest_chat_docs
            .item
                |#{body}
                small #{when}
                if currentUser.admin_mode
                    i.remove.link.icon.remove_comment
          
        
        
template(name='leaderboard')
    .ui.header 
        +i name='leaderboard'
        |leaderboard
    .ui.animated.selection.link.list.smallscroll
        each top_users
            a.item(href="/user/#{username}")
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                .content
                    strong #{username}
                    small #{points}pts
